body {
    background-color: black;
}
#circle1 {
    position: absolute;
    z-index: -2;
    margin-left: 80px;
    margin-top: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #ff5858, #ff990f);
    filter: blur(5px);
}
#circle2 {
    position: absolute;
    z-index: -2;
    margin-left: 420px;
    margin-top: 500px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #ff5858, #ff990f);
    filter: blur(5px);
}
#circle3 {
    position: absolute;
    z-index: -2;
    margin-left: 120px;
    margin-top: 180px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(to right bottom, #ff5858, #ff990f);
    filter: blur(5px);
}
#container {
    position: relative;
    z-index: 4;
    margin:150px;
    width: 350px;
    height: 600px;
    background-image: linear-gradient(to left bottom,rgba(255,255,255,0.4),rgba(248, 248, 248, 0));
    background-blend-mode:lighten;
    border: 2px solid rgba(255,255,255,0.35);
    border-radius: 30px;
}
#header {
    color: white;
    margin-top: 80px;
    margin-left: 120px;
}
.frm {
    display: block;
    width: 250px;
    height: 30px;
    margin-left: 50px;
    border-radius: 10px;
}
#le {
    color: white;
    margin-top: 80px;
}
#lp {
    color: white;
    margin-top: 40px;
}
#bs {
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    float: right;
    margin-right: 50px;
    margin-top: 60px;
}
#lfp {
    margin-left: 50px;
    margin-top: 50px;
}
#ln {
    float: left;
    color: white;
    margin-left: 50px;
    margin-top: 100px;
}
a {
    color: orange;
}
#ie, #ip {
    font-size: 15px;
}